.header-container {

  height: 700px;
  background: white;

  .bg-image {
    background: url("src/assets/images/home.jpg") no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
  }

}
