.footer {

  .link-to-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    .badge {
      padding: 5px 10px;
      color: white;
      cursor: pointer;
    }

    .badge + .badge {
      margin-left: 20px;
    }
  }

  .contact-me, .copyright {
    padding: 10px;
    text-align: center;
  }

  .copyright {
    background: #f2f2f2;
    color: #555;
  }
}
