<div class="exhibition">
  <div class="exhibition-header bg-warning shadow-sm animated fadeInLeft"></div>
  <div class="exhibition-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 album shadow-sm animated fadeInDown">
          <div class="album-image bg-warning"></div>
          <div class="album-desc">
            这场大火烧毁了2471英亩（约15000亩）的森林，造成了不可逆转的破坏。近日，法院宣布了这两名学生共需支付2700万欧元（约2亿人民币）的罚款。
          </div>
          <div class="d-flex justify-content-between align-content-center">
            <div class="btn-group">
              <div class="btn btn-sm">
                <i class="fa fa-heart-o text-warning font-size-18"></i>
              </div>
              <div class="btn btn-sm">
                <i class="fa fa-comment-o text-warning font-size-18"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
